/* static/css/styles.css */
body {
    background-color: #f8f9fa;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1030;
    background-color: #343a40;
    padding: 15px 0; /* Padding für den Header hinzufügen */
}

h1 {
    margin-top: 20px; /* Dieser Abstand ist nun relativ zum body padding-top */
    color: #343a40;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-block {
    margin-bottom: 10px;
}

.alert {
    margin-top: 10px;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    text-align: center;
    color: white;
}

.loading-spinner p {
    margin-top: 10px;
}