<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1>Impressum</h1>
        <p><strong>Angaben gemäß § 5 TMG</strong></p>
        <p>Tim Hasenkamp<br>
        Bombergstraße 8<br>
        36115 Hilders<br>
        Deutschland</p>
        
        <p>Telefon: 01703096399<br>
        E-Mail: web@t-hasenkamp.de</p>
        
        <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</strong></p>
        <p>Tim Hasenkamp<br>
        Bombergstraße 8<br>
        36115 Hilders</p>
    </div>
</body>
</html>
